@import '../../styles/mixin.scss';
@import '../../styles/variable.scss';

.experience {
  margin-top: 50px;
  width: 100%;

  &_title {
    font-size: 30px;
    text-align: center;

    @include tablet {
      font-size: 26px;
    }

    @include mobile {
      font-size: 24px;
    }
  }
}
